
.section{
    margin-top: 68px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
}
.box{
    max-width: 474px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
}
.listCards{
    margin-top: 100px;
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
.textgradient{
    background: linear-gradient(89.81deg, #A0FF87 52.62%, #7EFFCA 97.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@media screen and (max-width: 425px) {
    .section{
        margin-top: 64px;
    }
    .listCards{
     flex-direction: column;
     align-items: center;
    }
    .listCards{
        margin-top: 48px;
    }  
  }