
.section{
    margin-top: 165px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
}
.box{
    max-width: 474px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
}
.listCards{
    margin-top: 100px;
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
@media screen and (max-width: 425px) {
    .listCards{
     flex-direction: column;
     align-items: center;
    }    
  }