.menu{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 17px;
}

@media (max-width: 768px){
    .img{
        width: 131px;
        height: 24px;
    }
}
@media (max-width: 425px){
    .list{
        display: none;
    }
}