.menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 17px;
}
.link:hover{
    color: #9BFF91;
}
.list{
    display: flex;
    gap: 30px;
}

@media (max-width: 768px){
    .img{
        width: 131px;
        height: 24px;
    }
}
@media (max-width: 425px){
    .list{
        display: none;
    }
}