.menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
    gap: 30px;
}

@media (max-width: 768px){
    .list{
        display: none;
    }
    .img{
        width: 131px;
        height: 24px;
    }
}