.card{
    width: 240px;
    height: 274px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22222A;
    border-radius: 16px;
    padding-top: 3.2%;
}
.gradient{
    width: 95%;
    height: 100%;
    border-radius: 16px 16px 4px 4px;
}
.copyarea{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 6px 10px;
}
.box{
    display: flex;
    gap: 4px;
    align-items: center;
}