.hero{
    width: 100%;
    align-items: center;
    margin-top: 40px;
}
.container{
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    max-width: 470px;
    gap: 4px;
}
.button{
    margin-top: 14px;
    width: 150px;
    text-decoration: underline;
}
.textgradient{
    background: linear-gradient(89.86deg, #FD8A06 36.89%, #F16077 77.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@media (max-width: 425px){
    .container{
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .box{
        align-items: center;
        text-align: center;
    }
}