.hero{
    width: 100%;
    align-items: center;
    margin-top: 40px;
}
.container{
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    max-width: 470px;
    gap: 4px;
}
.button{
    margin-top: 14px;
    width: 150px;
    text-decoration: underline;
}
